.business {
  background: #8eb3b0;
  min-height: 100vh;
}

.businessContainer {
  max-width: 1200px;
  margin: auto;
  padding: 60px 20px;
  text-align: center;
}

.businessContainer h1 {
  font-size: 42px;
  margin-bottom: 10px;
}

.businessContainer p {
  color: #504b4b;
  margin-bottom: 40px;
}

.features {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  background: rgb(235, 230, 230);
  padding: 25px;
  width: 280px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.card h3 {
  margin-bottom: 10px;
}
